body {
   background-image: url("fundo.png");
   color: white;
   background-repeat: no-repeat;
   background-size: cover;
}

/* Logo */
.logo {
   font-size: 36px;
   color: red;
   font-weight: bold;
}

.logo span {
   font-size: 18px;
   color: white;
}

/* Menu */
nav {
   background-color: rgba(0, 0, 0, 0.3); /* Transparência no menu */
   padding: 10px 0;
   border-radius: 5px;
   margin-top: 10px;
}

nav a {
   color: red;
   text-decoration: none;
   font-weight: bold;
}

nav a:hover {
   color: white;
}

/* Promoções */
.promo {
   background-color: rgba(0, 0, 0, 0.3); /* Transparência */
   padding: 20px;
   text-align: center;
   margin-top: 40px;
   border-radius: 5px;
}

.promo h2 {
   color: red;
}

.promo p {
   color: white;
   font-size: 24px;
}

/* Pesquisa */
.search-bar {
   position: relative;
}

.search-bar input {
   background-color: #e5e5e5;
   border: none;
   padding: 8px 40px 8px 15px;
   width: 400px;
   border-radius: 25px;
   font-size: 14px;
}

.search-bar i {
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: #1d1d1d;
}

/* Botão do carrinho */
.btn-cart {
    color: white;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: #e5e5e5;
    color: #1d1d1d;
}

.btn-cart i {
    margin-right: 5px;
}

/* Cards */
.card-body {
   text-align: center;
   background-color: rgba(0, 0, 0, 0.4); /* Transparência nos cards */
}

.card-body h5 {
   color: rgb(156, 156, 156);
   font-size: 24px; 
}

.card-body img {
   max-width: 100%;
   height: auto;
}

/* Três pontinhos nos cards */
.card-body::after {
   content: "●●●"; /* Adiciona os três pontinhos */
   color: red;
   display: block;
   font-size: 24px;
   text-align: right;
   margin-top: 10px;
}

/* Botão de adicionar ao carrinho */
.btn-add-cart {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-add-cart:hover {
    background-color: darkred;
}

/* Seção de Contato */
#contact-section {
    display: none; /* Esconde a seção de contato por padrão */
}

.contact-info {
   background-color: rgba(0, 0, 0, 0.3); /* Transparência */
   padding: 20px;
   text-align: center;
   border-radius: 5px;
}

.contact-info h3 {
   color: red;
}

.contact-info ul {
   list-style: none;
   padding: 0;
}

.contact-info li {
   margin-bottom: 15px;
}

.contact-info i {
   color: red;
   margin-right: 10px;
}

/* Footer */
footer {
   background-color: rgba(0, 0, 0, 0.3); /* Transparência */
   padding: 20px 0;
   margin-top: 40px;
   border-radius: 5px;
   text-align: center;
}

footer a {
   color: red;
   text-decoration: none;
}

footer a:hover {
   color: white;
}
